<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="static/app.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

{% block content %}
<body class = "welcome-body">
    <h1 class="text-center" id="welcome">MyBrother</h1>
    {% block form %}
    <form action="/login" method="get" class = 'text-center'>
        {% block welcome %}
        <button type="submit" class = "welcome-btn" id = "welcomeBtn">Welcome!</button>
        {% endblock %}
    </form>
{% endblock %}
</body>
{% endblock %}
<script src="/static/app.js"></script>
</html>